In [1]:
import pandas as pd

In [14]:
texts = pd.read_csv('texts_updated.csv')
authors = pd.read_csv('authors_final.csv')
authors_cities = pd.read_csv('cities_updated.csv')
authors_countries = pd.read_csv('countries_updated.csv')
sentiments = pd.read_csv('summary_sentiments.csv')
text_infos = pd.read_csv('text_infos_updated.csv')
results = pd.read_csv('results.csv')
prices = pd.read_csv('prices.csv')

In [6]:
authors

,author_id,first_name,middle_name,last_name,birth_date,birth_place,gender,has_wikipedia,website,literaturinstitut,has_phd
0,0,Reto,NaN,Hänny,1947-04-13,NaN,male,True,NaN,NaN,NaN
1,1,Jost,NaN,Perfahl,NaN,NaN,male,False,NaN,NaN,NaN
2,2,Elisabeth,NaN,Plessen,1944-03-15,NaN,female,True,NaN,NaN,NaN
3,3,Vintila,NaN,Ivanceanu,1940-12-26,NaN,male,True,NaN,NaN,NaN
4,4,Horst,NaN,Bienek,1930-05-07,NaN,male,True,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
763,763,Lisa,NaN,Krusche,1990-07-01,Hildesheim,female,False,https://bachmannpreis.orf.at/stories/3047118/,NaN,NaN
764,764,Leonhard,NaN,Hieronymi,1987-07-01,Bad Homburg,male,False,https://bachmannpreis.orf.at/stories/3047117/,NaN,NaN
765,765,Hanna,NaN,Herbst,1990-07-01,Mainz,female,True,https://bachmannpreis.orf.at/stories/3047116/,NaN,False
766,766,Lydia,NaN,Haider,1985-06-27,Steyr,female,True,https://bachmannpreis.orf.at/stories/3047041/,NaN,False
767,767,Laura,NaN,Freudenthaler,1984-07-01,Salzburg,female,True,https://bachmannpreis.orf.at/stories/3047039/,NaN,False

In [22]:
df1 = pd.merge(texts, authors.drop(columns=['website', 'literaturinstitut', 'has_phd']), "left", left_on='author_id', right_on='author_id')

In [31]:
df1

,text_id,author_id,text_title,date_participation,invited_by,on_shortlist,font,reading_order,day_reading,reading_context,total_days_reading,first_name,middle_name,last_name,birth_date,birth_place,gender,has_wikipedia
0,0,0,NaN,1977-06-27,NaN,False,NaN,23.0,3.0,last_reading,3.0,Reto,NaN,Hänny,1947-04-13,NaN,male,True
1,1,1,NaN,1977-06-27,NaN,False,NaN,22.0,3.0,NaN,3.0,Jost,NaN,Perfahl,NaN,NaN,male,False
2,2,2,NaN,1977-06-27,NaN,False,NaN,21.0,3.0,NaN,3.0,Elisabeth,NaN,Plessen,1944-03-15,NaN,female,True
3,3,3,Sodom (Fragment aus einem Roman),1977-06-27,NaN,False,NaN,20.0,3.0,NaN,3.0,Vintila,NaN,Ivanceanu,1940-12-26,NaN,male,True
4,4,4,NaN,1977-06-27,NaN,False,NaN,19.0,3.0,NaN,3.0,Horst,NaN,Bienek,1930-05-07,NaN,male,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
837,837,763,Für bestimmte Welten kämpfen und gegen andere,2020-06-21,117.0,True,Garamond,2.0,1.0,NaN,3.0,Lisa,NaN,Krusche,1990-07-01,Hildesheim,female,False
838,838,764,"Über uns, Luzifer",2020-06-21,119.0,False,Book Antiqua,3.0,1.0,before_break,3.0,Leonhard,NaN,Hieronymi,1987-07-01,Bad Homburg,male,False
839,839,765,Es wird einmal,2020-06-21,121.0,True,Times New Roman,7.0,2.0,NaN,3.0,Hanna,NaN,Herbst,1990-07-01,Mainz,female,True
840,840,766,Der große Gruß,2020-06-21,120.0,False,Calibri,11.0,3.0,first_reading,3.0,Lydia,NaN,Haider,1985-06-27,Steyr,female,True
841,841,767,Der heißeste Sommer,2020-06-21,122.0,True,Times New Roman,12.0,3.0,before_break,3.0,Laura,NaN,Freudenthaler,1984-07-01,Salzburg,female,True

In [32]:
df2 = pd.merge(df1, authors_cities.drop(columns=['text_city_mapper_id', 'city']), "left", left_on='text_id', right_on='text_id')
df2

,text_id,author_id,text_title,date_participation,invited_by,on_shortlist,font,reading_order,day_reading,reading_context,total_days_reading,first_name,middle_name,last_name,birth_date,birth_place,gender,has_wikipedia,city_id
0,0,0,NaN,1977-06-27,NaN,False,NaN,23.0,3.0,last_reading,3.0,Reto,NaN,Hänny,1947-04-13,NaN,male,True,248.0
1,1,1,NaN,1977-06-27,NaN,False,NaN,22.0,3.0,NaN,3.0,Jost,NaN,Perfahl,NaN,NaN,male,False,152.0
2,2,2,NaN,1977-06-27,NaN,False,NaN,21.0,3.0,NaN,3.0,Elisabeth,NaN,Plessen,1944-03-15,NaN,female,True,23.0
3,3,3,Sodom (Fragment aus einem Roman),1977-06-27,NaN,False,NaN,20.0,3.0,NaN,3.0,Vintila,NaN,Ivanceanu,1940-12-26,NaN,male,True,238.0
4,4,4,NaN,1977-06-27,NaN,False,NaN,19.0,3.0,NaN,3.0,Horst,NaN,Bienek,1930-05-07,NaN,male,True,170.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
871,837,763,Für bestimmte Welten kämpfen und gegen andere,2020-06-21,117.0,True,Garamond,2.0,1.0,NaN,3.0,Lisa,NaN,Krusche,1990-07-01,Hildesheim,female,False,33.0
872,838,764,"Über uns, Luzifer",2020-06-21,119.0,False,Book Antiqua,3.0,1.0,before_break,3.0,Leonhard,NaN,Hieronymi,1987-07-01,Bad Homburg,male,False,80.0
873,839,765,Es wird einmal,2020-06-21,121.0,True,Times New Roman,7.0,2.0,NaN,3.0,Hanna,NaN,Herbst,1990-07-01,Mainz,female,True,120.0
874,840,766,Der große Gruß,2020-06-21,120.0,False,Calibri,11.0,3.0,first_reading,3.0,Lydia,NaN,Haider,1985-06-27,Steyr,female,True,238.0
875,841,767,Der heißeste Sommer,2020-06-21,122.0,True,Times New Roman,12.0,3.0,before_break,3.0,Laura,NaN,Freudenthaler,1984-07-01,Salzburg,female,True,238.0

In [33]:
df3 = pd.merge(df2, authors_countries.drop(columns=['country_text_mapper_id', 'author_country']), "left", left_on='text_id', right_on='text_id')
df3

,text_id,author_id,text_title,date_participation,invited_by,on_shortlist,font,reading_order,day_reading,reading_context,...,first_name,middle_name,last_name,birth_date,birth_place,gender,has_wikipedia,city_id,country_detail,country_id
0,0,0,NaN,1977-06-27,NaN,False,NaN,23.0,3.0,last_reading,...,Reto,NaN,Hänny,1947-04-13,NaN,male,True,248.0,NaN,0
1,1,1,NaN,1977-06-27,NaN,False,NaN,22.0,3.0,NaN,...,Jost,NaN,Perfahl,NaN,NaN,male,False,152.0,BRD,1
2,2,2,NaN,1977-06-27,NaN,False,NaN,21.0,3.0,NaN,...,Elisabeth,NaN,Plessen,1944-03-15,NaN,female,True,23.0,BRD,1
3,3,3,Sodom (Fragment aus einem Roman),1977-06-27,NaN,False,NaN,20.0,3.0,NaN,...,Vintila,NaN,Ivanceanu,1940-12-26,NaN,male,True,238.0,NaN,2
4,4,4,NaN,1977-06-27,NaN,False,NaN,19.0,3.0,NaN,...,Horst,NaN,Bienek,1930-05-07,NaN,male,True,170.0,BRD,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
892,838,764,"Über uns, Luzifer",2020-06-21,119.0,False,Book Antiqua,3.0,1.0,before_break,...,Leonhard,NaN,Hieronymi,1987-07-01,Bad Homburg,male,False,80.0,NaN,1
893,839,765,Es wird einmal,2020-06-21,121.0,True,Times New Roman,7.0,2.0,NaN,...,Hanna,NaN,Herbst,1990-07-01,Mainz,female,True,120.0,NaN,2
894,839,765,Es wird einmal,2020-06-21,121.0,True,Times New Roman,7.0,2.0,NaN,...,Hanna,NaN,Herbst,1990-07-01,Mainz,female,True,120.0,NaN,1
895,840,766,Der große Gruß,2020-06-21,120.0,False,Calibri,11.0,3.0,first_reading,...,Lydia,NaN,Haider,1985-06-27,Steyr,female,True,238.0,NaN,2
896,841,767,Der heißeste Sommer,2020-06-21,122.0,True,Times New Roman,12.0,3.0,before_break,...,Laura,NaN,Freudenthaler,1984-07-01,Salzburg,female,True,238.0,NaN,2

In [27]:
df4 = pd.merge(df3, sentiments.drop(columns=['discussion_summary']), "left", left_on='text_id', right_on='text_id')
df4.head(3)

,text_id,author_id,text_title,date_participation,invited_by,on_shortlist,font,reading_order,day_reading,reading_context,...,country_detail,country_id,total_tokens,sentiment_score,tokens_without_sentiment,positive_tokens,positive_sentiment,negative_tokens,negative_sentiment,sentiment_distance
0,0,0,NaN,1977-06-27,NaN,False,NaN,23.0,3.0,last_reading,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1,NaN,1977-06-27,NaN,False,NaN,22.0,3.0,NaN,...,BRD,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,2,NaN,1977-06-27,NaN,False,NaN,21.0,3.0,NaN,...,BRD,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
df5 = pd.merge(df4, text_infos, "left", left_on='text_id', right_on='text_id')
df5.head(3)

,text_id,author_id,text_title,date_participation,invited_by,on_shortlist,font,reading_order,day_reading,reading_context,...,sentiment_score,tokens_without_sentiment,positive_tokens,positive_sentiment,negative_tokens,negative_sentiment,sentiment_distance,text_length,total_sentences,topic_id
0,0,0,NaN,1977-06-27,NaN,False,NaN,23.0,3.0,last_reading,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1,NaN,1977-06-27,NaN,False,NaN,22.0,3.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,2,NaN,1977-06-27,NaN,False,NaN,21.0,3.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
df6 = pd.merge(df5, results, "left", left_on='text_id', right_on='text_id')
df6

,text_id,author_id,text_title,date_participation,invited_by,on_shortlist,font,reading_order,day_reading,reading_context,...,tokens_without_sentiment,positive_tokens,positive_sentiment,negative_tokens,negative_sentiment,sentiment_distance,text_length,total_sentences,topic_id,price_id
0,0,0,NaN,1977-06-27,NaN,False,NaN,23.0,3.0,last_reading,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1,NaN,1977-06-27,NaN,False,NaN,22.0,3.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,2,NaN,1977-06-27,NaN,False,NaN,21.0,3.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,3,Sodom (Fragment aus einem Roman),1977-06-27,NaN,False,NaN,20.0,3.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,4,NaN,1977-06-27,NaN,False,NaN,19.0,3.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
907,839,765,Es wird einmal,2020-06-21,121.0,True,Times New Roman,7.0,2.0,NaN,...,339.0,31.0,7.0232,27.0,-6.1016,13.1248,3755.0,389.0,10.0,NaN
908,839,765,Es wird einmal,2020-06-21,121.0,True,Times New Roman,7.0,2.0,NaN,...,339.0,31.0,7.0232,27.0,-6.1016,13.1248,3755.0,389.0,10.0,NaN
909,840,766,Der große Gruß,2020-06-21,120.0,False,Calibri,11.0,3.0,first_reading,...,405.0,31.0,3.8412,12.0,-2.8662,6.7074,3532.0,235.0,11.0,28.0
910,840,766,Der große Gruß,2020-06-21,120.0,False,Calibri,11.0,3.0,first_reading,...,405.0,31.0,3.8412,12.0,-2.8662,6.7074,3532.0,235.0,11.0,27.0
911,841,767,Der heißeste Sommer,2020-06-21,122.0,True,Times New Roman,12.0,3.0,before_break,...,373.0,44.0,8.2085,29.0,-3.8732,12.0817,3370.0,531.0,9.0,20.0

In [42]:
df7 = df6.drop_duplicates('text_id')
df7.price_id

0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
       ...
905    29.0
906     NaN
907     NaN
909    28.0
911    20.0
Name: price_id, Length: 842, dtype: float64

In [44]:
import numpy as np

In [47]:
df7.loc[df7['price_id'] != np.nan, 'price_won'] = 1
df7.loc[df7['price_id'].isna(), 'price_won'] = 0
df7.price_won = df7.price_won.astype(int)

/home/denniss/Desktop/Coding/spiced/venv/lib/python3.8/site-packages/pandas/core/generic.py:5208: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [53]:
df8 = df7.drop(columns='price_id')
df8['len_title'] = df8.text_title.str.len()
df8.loc[df8['text_title'].isna(), 'len_title'] = 0
df8.len_title = df8.len_title.astype(int)
df8

,text_id,author_id,text_title,date_participation,invited_by,on_shortlist,font,reading_order,day_reading,reading_context,...,positive_tokens,positive_sentiment,negative_tokens,negative_sentiment,sentiment_distance,text_length,total_sentences,topic_id,price_won,len_title
0,0,0,NaN,1977-06-27,NaN,False,NaN,23.0,3.0,last_reading,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
1,1,1,NaN,1977-06-27,NaN,False,NaN,22.0,3.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
2,2,2,NaN,1977-06-27,NaN,False,NaN,21.0,3.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
3,3,3,Sodom (Fragment aus einem Roman),1977-06-27,NaN,False,NaN,20.0,3.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,32
4,4,4,NaN,1977-06-27,NaN,False,NaN,19.0,3.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
905,837,763,Für bestimmte Welten kämpfen und gegen andere,2020-06-21,117.0,True,Garamond,2.0,1.0,NaN,...,27.0,3.9214,20.0,-5.2768,9.1982,4343.0,593.0,11.0,1,45
906,838,764,"Über uns, Luzifer",2020-06-21,119.0,False,Book Antiqua,3.0,1.0,before_break,...,18.0,2.3087,20.0,-5.5751,7.8838,3509.0,430.0,3.0,0,17
907,839,765,Es wird einmal,2020-06-21,121.0,True,Times New Roman,7.0,2.0,NaN,...,31.0,7.0232,27.0,-6.1016,13.1248,3755.0,389.0,10.0,0,14
909,840,766,Der große Gruß,2020-06-21,120.0,False,Calibri,11.0,3.0,first_reading,...,31.0,3.8412,12.0,-2.8662,6.7074,3532.0,235.0,11.0,1,14
911,841,767,Der heißeste Sommer,2020-06-21,122.0,True,Times New Roman,12.0,3.0,before_break,...,44.0,8.2085,29.0,-3.8732,12.0817,3370.0,531.0,9.0,1,19

In [59]:
df9 = df8[540:].drop(columns=['text_title'])

In [61]:
df9['year'] = pd.to_datetime(df9.date_participation).dt.year

In [68]:
df9.on_shortlist = df9.on_shortlist.astype('category').cat.codes.copy()

In [71]:
df9.font = df9.font.astype('category').cat.codes.copy()

In [77]:
df9.drop(columns=['first_name', 'middle_name', 'last_name'], inplace=True)

In [80]:
df9.birth_year = pd.to_datetime(df9.birth_date).dt.year.copy()

In [81]:
df9.drop(columns='birth_date', inplace=True)

In [83]:
df9.reading_context = df9.reading_context.astype('category').cat.codes.copy()

In [85]:
df9.birth_place = df9.birth_place.astype('category').cat.codes.copy()

In [89]:
df9.columns

Index(['text_id', 'author_id', 'invited_by', 'on_shortlist', 'font',
       'reading_order', 'day_reading', 'reading_context', 'total_days_reading',
       'birth_place', 'gender', 'has_wikipedia', 'city_id', 'country_detail',
       'country_id', 'total_tokens', 'sentiment_score',
       'tokens_without_sentiment', 'positive_tokens', 'positive_sentiment',
       'negative_tokens', 'negative_sentiment', 'sentiment_distance',
       'text_length', 'total_sentences', 'topic_id', 'price_won', 'len_title',
       'year'],
      dtype='object')

In [91]:
df9.gender = df9.gender.astype('category').cat.codes.copy()

In [92]:
df9.has_wikipedia = df9.has_wikipedia.astype('category').cat.codes.copy()

In [93]:
df9.country_detail = df9.country_detail.astype('category').cat.codes.copy()

In [97]:
df9['age'] = df9.year - df9.birth_year

In [101]:
df9.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 302 entries, 555 to 911
Data columns (total 30 columns):
text_id                     302 non-null int64
author_id                   302 non-null int64
invited_by                  302 non-null float64
on_shortlist                302 non-null int8
font                        302 non-null int8
reading_order               302 non-null float64
day_reading                 302 non-null float64
reading_context             302 non-null int8
total_days_reading          302 non-null float64
birth_place                 302 non-null int8
gender                      302 non-null int8
has_wikipedia               302 non-null int8
city_id                     302 non-null float64
country_detail              302 non-null int8
country_id                  302 non-null int64
total_tokens                302 non-null float64
sentiment_score             302 non-null float64
tokens_without_sentiment    302 non-null float64
positive_tokens             302 non-null float64
positive_sentiment          302 non-null float64
negative_tokens             302 non-null float64
negative_sentiment          302 non-null float64
sentiment_distance          302 non-null float64
text_length                 301 non-null float64
total_sentences             301 non-null float64
topic_id                    301 non-null float64
price_won                   302 non-null int64
len_title                   302 non-null int64
year                        302 non-null int64
age                         301 non-null float64
dtypes: float64(17), int64(6), int8(7)
memory usage: 58.7 KB

In [103]:
df9.isna().sum()

text_id                     0
author_id                   0
invited_by                  0
on_shortlist                0
font                        0
reading_order               0
day_reading                 0
reading_context             0
total_days_reading          0
birth_place                 0
gender                      0
has_wikipedia               0
city_id                     0
country_detail              0
country_id                  0
total_tokens                0
sentiment_score             0
tokens_without_sentiment    0
positive_tokens             0
positive_sentiment          0
negative_tokens             0
negative_sentiment          0
sentiment_distance          0
text_length                 1
total_sentences             1
topic_id                    1
price_won                   0
len_title                   0
year                        0
age                         1
dtype: int64

In [104]:
df9.age.fillna(df9.age.median(),inplace = True)
df9.text_length.fillna(df9.text_length.median(),inplace = True)
df9.total_sentences.fillna(df9.total_sentences.median(),inplace = True)
df9.topic_id.fillna(3,inplace = True)

In [106]:
df9.age = df9.age.astype(int).copy()
df9.total_tokens = df9.total_tokens.astype(int).copy()
df9.positive_tokens = df9.positive_tokens.astype(int).copy()
df9.negative_tokens = df9.negative_tokens.astype(int).copy()
df9.tokens_without_sentiment = df9.tokens_without_sentiment.astype(int).copy()
df9.city_id = df9.city_id.astype(int).copy()
df9.invited_by = df9.invited_by.astype(int).copy()
df9.reading_order = df9.reading_order.astype(int).copy()
df9.day_reading = df9.day_reading.astype(int).copy()
df9.total_days_reading = df9.total_days_reading.astype(int).copy()
df9.text_length = df9.text_length.astype(int).copy()
df9.total_sentences = df9.total_sentences.astype(int).copy()
df9.topic_id = df9.topic_id.astype(int).copy()

In [107]:
df9.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 302 entries, 555 to 911
Data columns (total 30 columns):
text_id                     302 non-null int64
author_id                   302 non-null int64
invited_by                  302 non-null int64
on_shortlist                302 non-null int8
font                        302 non-null int8
reading_order               302 non-null int64
day_reading                 302 non-null int64
reading_context             302 non-null int8
total_days_reading          302 non-null int64
birth_place                 302 non-null int8
gender                      302 non-null int8
has_wikipedia               302 non-null int8
city_id                     302 non-null int64
country_detail              302 non-null int8
country_id                  302 non-null int64
total_tokens                302 non-null int64
sentiment_score             302 non-null float64
tokens_without_sentiment    302 non-null int64
positive_tokens             302 non-null int64
positive_sentiment          302 non-null float64
negative_tokens             302 non-null int64
negative_sentiment          302 non-null float64
sentiment_distance          302 non-null float64
text_length                 302 non-null int64
total_sentences             302 non-null int64
topic_id                    302 non-null int64
price_won                   302 non-null int64
len_title                   302 non-null int64
year                        302 non-null int64
age                         302 non-null int64
dtypes: float64(4), int64(19), int8(7)
memory usage: 58.7 KB

In [110]:
df9 = df9.round(2).copy()

In [109]:
df9

,text_id,author_id,invited_by,on_shortlist,font,reading_order,day_reading,reading_context,total_days_reading,birth_place,...,negative_tokens,negative_sentiment,sentiment_distance,text_length,total_sentences,topic_id,price_won,len_title,year,age
555,540,481,92,0,-1,16,3,3,3,-1,...,17,-5.4025,7.3489,3538,527,2,0,11,2001,37
556,541,482,95,0,-1,15,3,-1,3,-1,...,22,-5.9107,13.1704,4195,594,2,0,21,2001,31
557,542,483,94,0,-1,14,3,-1,3,-1,...,15,-5.2078,9.5379,4570,544,2,0,33,2001,33
558,543,484,67,0,-1,13,3,2,3,-1,...,19,-8.2993,13.2451,4269,691,2,1,10,2001,35
559,544,485,91,0,-1,12,2,3,3,-1,...,15,-3.7721,6.8888,2479,276,2,0,29,2001,39
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
905,837,763,117,1,14,2,1,-1,3,5,...,20,-5.2768,9.1982,4343,593,11,1,45,2020,30
906,838,764,119,0,3,3,1,1,3,0,...,20,-5.5751,7.8838,3509,430,3,0,17,2020,33
907,839,765,121,1,23,7,2,-1,3,7,...,27,-6.1016,13.1248,3755,389,10,0,14,2020,30
909,840,766,120,0,6,11,3,2,3,12,...,12,-2.8662,6.7074,3532,235,11,1,14,2020,35
911,841,767,122,1,23,12,3,1,3,11,...,29,-3.8732,12.0817,3370,531,9,1,19,2020,36

In [ ]:
# dummy_model

In [114]:
len(df9[df9.price_won == 0]) / len(df9)

0.6986754966887417

In [111]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split


y = df9["price_won"]
X = df9.drop(columns='price_won')
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [112]:
rf_model = RandomForestClassifier(n_estimators=100, max_depth=5, random_state=1)
rf_model.fit(X_train, y_train)
rf_model.score(X_test, y_test)

0.7236842105263158

In [ ]:
importance_features = pd.DataFrame({'feature':X_train.columns, 'importance': rf_model.feature_importances_}).sort_values(by='importance',ascending=False)
importance_features

In [ ]:
import autosklearn.classification

automl = autosklearn.classification.AutoSklearnClassifier(

    include_estimators=["random_forest", ], exclude_estimators=None,

    include_preprocessors=["no_preprocessing", ], exclude_preprocessors=None)

automl.fit(X_train, y_train)

predictions = automl.predict(X_test)

/home/denniss/Desktop/Coding/spiced/venv/lib/python3.8/site-packages/pyparsing.py:3190: FutureWarning: Possible set intersection at position 3
  self.re = re.compile(self.reString)

[WARNING] [2020-08-10 18:06:29,585:EnsembleBuilder(1):b97756e37a3090a76d98288e92d0719c] No models better than random - using Dummy Score!Number of models besides current dummy model: 1. Number of dummy models: 1

Process pynisher function call:
Traceback (most recent call last):
  File "/usr/lib/python3.8/multiprocessing/process.py", line 315, in _bootstrap
    self.run()
  File "/usr/lib/python3.8/multiprocessing/process.py", line 108, in run
    self._target(*self._args, **self._kwargs)
Process pynisher function call:
  File "/home/denniss/Desktop/Coding/spiced/venv/lib/python3.8/site-packages/pynisher/limit_function_call.py", line 93, in subprocess_func
    return_value = ((func(*args, **kwargs), 0))
  File "/home/denniss/Desktop/Coding/spiced/venv/lib/python3.8/site-packages/autosklearn/evaluation/__init__.py", line 29, in fit_predict_try_except_decorator
    return ta(queue=queue, **kwargs)
Traceback (most recent call last):
  File "/home/denniss/Desktop/Coding/spiced/venv/lib/python3.8/site-packages/autosklearn/evaluation/train_evaluator.py", line 1067, in eval_holdout
    evaluator.fit_predict_and_loss(iterative=iterative)
  File "/home/denniss/Desktop/Coding/spiced/venv/lib/python3.8/site-packages/autosklearn/evaluation/train_evaluator.py", line 461, in fit_predict_and_loss
    self._partial_fit_and_predict_standard(
  File "/usr/lib/python3.8/multiprocessing/process.py", line 315, in _bootstrap
    self.run()
  File "/home/denniss/Desktop/Coding/spiced/venv/lib/python3.8/site-packages/autosklearn/evaluation/train_evaluator.py", line 800, in _partial_fit_and_predict_standard
    _fit_and_suppress_warnings(
  File "/home/denniss/Desktop/Coding/spiced/venv/lib/python3.8/site-packages/autosklearn/evaluation/abstract_evaluator.py", line 110, in _fit_and_suppress_warnings
    model.fit(X, y)
  File "/usr/lib/python3.8/multiprocessing/process.py", line 108, in run
    self._target(*self._args, **self._kwargs)
  File "/home/denniss/Desktop/Coding/spiced/venv/lib/python3.8/site-packages/autosklearn/pipeline/base.py", line 92, in fit
    self.fit_estimator(X, y, **fit_params)
  File "/home/denniss/Desktop/Coding/spiced/venv/lib/python3.8/site-packages/autosklearn/pipeline/base.py", line 109, in fit_estimator
    self._final_estimator.fit(X, y, **fit_params)
  File "/home/denniss/Desktop/Coding/spiced/venv/lib/python3.8/site-packages/pynisher/limit_function_call.py", line 93, in subprocess_func
    return_value = ((func(*args, **kwargs), 0))
  File "/home/denniss/Desktop/Coding/spiced/venv/lib/python3.8/site-packages/autosklearn/pipeline/components/base.py", line 419, in fit
    return self.choice.fit(X, y, **kwargs)
  File "/home/denniss/Desktop/Coding/spiced/venv/lib/python3.8/site-packages/autosklearn/ensemble_builder.py", line 331, in main
    time.sleep(self.sleep_duration)
  File "/home/denniss/Desktop/Coding/spiced/venv/lib/python3.8/site-packages/autosklearn/pipeline/components/base.py", line 171, in fit
    self.iterative_fit(X, y, n_iter=n_iter, sample_weight=sample_weight)
  File "/home/denniss/Desktop/Coding/spiced/venv/lib/python3.8/site-packages/autosklearn/pipeline/components/classification/random_forest.py", line 97, in iterative_fit
    self.estimator.fit(X, y, sample_weight=sample_weight)
KeyboardInterrupt
  File "/home/denniss/Desktop/Coding/spiced/venv/lib/python3.8/site-packages/sklearn/ensemble/_forest.py", line 386, in fit
    self.estimators_.extend(trees)
  File "/home/denniss/Desktop/Coding/spiced/venv/lib/python3.8/site-packages/joblib/parallel.py", line 1032, in __call__
    while self.dispatch_one_batch(iterator):
  File "/home/denniss/Desktop/Coding/spiced/venv/lib/python3.8/site-packages/joblib/parallel.py", line 847, in dispatch_one_batch
    self._dispatch(tasks)
  File "/home/denniss/Desktop/Coding/spiced/venv/lib/python3.8/site-packages/joblib/parallel.py", line 765, in _dispatch
    job = self._backend.apply_async(batch, callback=cb)
  File "/home/denniss/Desktop/Coding/spiced/venv/lib/python3.8/site-packages/joblib/_parallel_backends.py", line 206, in apply_async
    result = ImmediateResult(func)
  File "/home/denniss/Desktop/Coding/spiced/venv/lib/python3.8/site-packages/joblib/_parallel_backends.py", line 570, in __init__
    self.results = batch()
  File "/home/denniss/Desktop/Coding/spiced/venv/lib/python3.8/site-packages/joblib/parallel.py", line 252, in __call__
    return [func(*args, **kwargs)
  File "/home/denniss/Desktop/Coding/spiced/venv/lib/python3.8/site-packages/joblib/parallel.py", line 252, in <listcomp>
    return [func(*args, **kwargs)
  File "/home/denniss/Desktop/Coding/spiced/venv/lib/python3.8/site-packages/sklearn/ensemble/_forest.py", line 170, in _parallel_build_trees
  File "/home/denniss/Desktop/Coding/spiced/venv/lib/python3.8/site-packages/sklearn/tree/_classes.py", line 890, in fit
    ``dtype=np.float32`` and if a sparse matrix is provided
  File "/home/denniss/Desktop/Coding/spiced/venv/lib/python3.8/site-packages/sklearn/tree/_classes.py", line 375, in fit
    return self
KeyboardInterrupt