In [2]:
import pandas as pd

In [3]:
authors_wo = pd.read_csv("authors_wo_duplicates.csv")

In [5]:
authors_wo.reset_index(inplace=True)

In [8]:
authors_wo.rename(columns={'index':'author_id_new'}, inplace=True)

In [9]:
authors_wo

,author_id_new,author_id,first_name,middle_name,last_name,birth_place,birth_date,gender,has_wikipedia,website,literaturinstitut,has_phd
0,0,0,Reto,NaN,Hänny,NaN,1947-04-13,male,True,NaN,NaN,NaN
1,1,1,Jost,NaN,Perfahl,NaN,NaN,male,False,NaN,NaN,NaN
2,2,2,Elisabeth,NaN,Plessen,NaN,1944-03-15,female,True,NaN,NaN,NaN
3,3,3,Vintila,NaN,Ivanceanu,NaN,1940-12-26,male,True,NaN,NaN,NaN
4,4,4,Horst,NaN,Bienek,NaN,1930-05-07,male,True,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
763,763,766,Lisa,NaN,Krusche,Hildesheim,1990-07-01,female,False,https://bachmannpreis.orf.at/stories/3047118/,NaN,NaN
764,764,767,Leonhard,NaN,Hieronymi,Bad Homburg,1987-07-01,male,False,https://bachmannpreis.orf.at/stories/3047117/,NaN,NaN
765,765,768,Hanna,NaN,Herbst,Mainz,1990-07-01,female,True,https://bachmannpreis.orf.at/stories/3047116/,NaN,False
766,766,769,Lydia,NaN,Haider,Steyr,1985-06-27,female,True,https://bachmannpreis.orf.at/stories/3047041/,NaN,False
767,767,770,Laura,NaN,Freudenthaler,Salzburg,1984-07-01,female,True,https://bachmannpreis.orf.at/stories/3047039/,NaN,False

In [25]:
authors_wo["full_name"] = authors_wo["first_name"].str.cat(authors_wo[["middle_name", "last_name"]].fillna("").astype(str), sep="") + "2020"
authors_wo.head()

,author_id_new,author_id,first_name,middle_name,last_name,birth_place,birth_date,gender,has_wikipedia,website,literaturinstitut,has_phd,full_name
0,0,0,Reto,NaN,Hänny,NaN,1947-04-13,male,True,NaN,NaN,NaN,RetoHänny2020
1,1,1,Jost,NaN,Perfahl,NaN,NaN,male,False,NaN,NaN,NaN,JostPerfahl2020
2,2,2,Elisabeth,NaN,Plessen,NaN,1944-03-15,female,True,NaN,NaN,NaN,ElisabethPlessen2020
3,3,3,Vintila,NaN,Ivanceanu,NaN,1940-12-26,male,True,NaN,NaN,NaN,VintilaIvanceanu2020
4,4,4,Horst,NaN,Bienek,NaN,1930-05-07,male,True,NaN,NaN,NaN,HorstBienek2020

In [11]:
passig_authors = pd.read_csv("other_bachmann_data/Klagenfurt-Statistik - Autor innen.csv")

In [23]:
passig_authors

,Name,Land,Wohnort,Geburtsort,F/M,Jahr,Leseplatz,Lesetag,Lesezeitpunkt,eingeladen von,Shortlist?,Preise,Geburts-\r\njahrgang,"Alter zum Zeitpunkt\r\nder Teilnahme\r\n(±1, Geburtsmonat\r\nnicht berücksichtigt)",statuten-\r\nkonform,Kommentar,Lesetage im Jahr der Teilnahme,Teilnahme YYYY,Geburt YYYY,ID
0,Jasmin Ramadan,D,Hamburg,Hamburg,F,2020,1.0,1,ET,Philipp Tingler,NaN,NaN,1974.0,46.0,1,NaN,3.0,2020,1974,JasminRamadan2020
1,Lisa Krusche,D,Braunschweig,Hildesheim,F,2020,2.0,1,NaN,Klaus Kastberger,Shortlist,Deutschlandfunk,1990.0,30.0,1,NaN,3.0,2020,1990,LisaKrusche2020
2,Leonhard Hieronymi,D,Hamburg,Bad Homburg,M,2020,3.0,1,VP,Michael Wiederstein,NaN,NaN,1987.0,33.0,1,NaN,3.0,2020,1987,LeonhardHieronymi2020
3,Carolina Schutti,A,Innsbruck,Innsbruck,F,2020,4.0,1,NP,Brigitte Schwens-Harrant,NaN,NaN,1976.0,44.0,1,NaN,3.0,2020,1976,CarolinaSchutti2020
4,Jörg Piringer,A,Wien,Wien,M,2020,5.0,1,LT,Nora Gomringer,NaN,NaN,1974.0,46.0,1,NaN,3.0,2020,1974,JörgPiringer2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
839,Horst Bienek,BRD,Ottobrunn,NaN,M,1977,19.0,3,NaN,NaN,NaN,NaN,1930.0,47.0,1,NaN,3.0,1977,1930,HorstBienek1977
840,Vintila Ivanceanu,A,Wien,NaN,M,1977,20.0,3,NaN,NaN,NaN,NaN,1940.0,37.0,1,NaN,3.0,1977,1940,VintilaIvanceanu1977
841,Elisabeth Plessen,BRD,Berlin-West,NaN,F,1977,21.0,3,NaN,NaN,NaN,NaN,1944.0,33.0,1,NaN,3.0,1977,1944,ElisabethPlessen1977
842,Jost Perfahl,BRD,München,Linz,M,1977,22.0,3,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,3.0,1977,1900,JostPerfahl1977
843,Reto Hänny,CH,Zürich,NaN,M,1977,23.0,3,LT,NaN,NaN,NaN,1947.0,30.0,1,NaN,3.0,1977,1947,RetoHänny1977

In [39]:
authors_updated = pd.merge(authors_wo, passig_authors[['ID', 'Geburtsort']], 'left', left_on='full_name', right_on='ID').drop(columns=['birth_place', 'ID', 'full_name']).rename(columns={'Geburtsort': 'birth_place'})

In [40]:
authors_updated

,author_id_new,author_id,first_name,middle_name,last_name,birth_date,gender,has_wikipedia,website,literaturinstitut,has_phd,birth_place
0,0,0,Reto,NaN,Hänny,1947-04-13,male,True,NaN,NaN,NaN,NaN
1,1,1,Jost,NaN,Perfahl,NaN,male,False,NaN,NaN,NaN,NaN
2,2,2,Elisabeth,NaN,Plessen,1944-03-15,female,True,NaN,NaN,NaN,NaN
3,3,3,Vintila,NaN,Ivanceanu,1940-12-26,male,True,NaN,NaN,NaN,NaN
4,4,4,Horst,NaN,Bienek,1930-05-07,male,True,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
763,763,766,Lisa,NaN,Krusche,1990-07-01,female,False,https://bachmannpreis.orf.at/stories/3047118/,NaN,NaN,Hildesheim
764,764,767,Leonhard,NaN,Hieronymi,1987-07-01,male,False,https://bachmannpreis.orf.at/stories/3047117/,NaN,NaN,Bad Homburg
765,765,768,Hanna,NaN,Herbst,1990-07-01,female,True,https://bachmannpreis.orf.at/stories/3047116/,NaN,False,Mainz
766,766,769,Lydia,NaN,Haider,1985-06-27,female,True,https://bachmannpreis.orf.at/stories/3047041/,NaN,False,Steyr
767,767,770,Laura,NaN,Freudenthaler,1984-07-01,female,True,https://bachmannpreis.orf.at/stories/3047039/,NaN,False,Salzburg

In [41]:
authors_updated.columns

Index(['author_id_new', 'author_id', 'first_name', 'middle_name', 'last_name',
       'birth_date', 'gender', 'has_wikipedia', 'website', 'literaturinstitut',
       'has_phd', 'birth_place'],
      dtype='object')

In [42]:
authors_updated = authors_updated[['author_id_new', 'author_id', 'first_name', 'middle_name', 'last_name',
       'birth_date', 'birth_place', 'gender', 'has_wikipedia', 'website', 'literaturinstitut',
       'has_phd']]
authors_updated

,author_id_new,author_id,first_name,middle_name,last_name,birth_date,birth_place,gender,has_wikipedia,website,literaturinstitut,has_phd
0,0,0,Reto,NaN,Hänny,1947-04-13,NaN,male,True,NaN,NaN,NaN
1,1,1,Jost,NaN,Perfahl,NaN,NaN,male,False,NaN,NaN,NaN
2,2,2,Elisabeth,NaN,Plessen,1944-03-15,NaN,female,True,NaN,NaN,NaN
3,3,3,Vintila,NaN,Ivanceanu,1940-12-26,NaN,male,True,NaN,NaN,NaN
4,4,4,Horst,NaN,Bienek,1930-05-07,NaN,male,True,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
763,763,766,Lisa,NaN,Krusche,1990-07-01,Hildesheim,female,False,https://bachmannpreis.orf.at/stories/3047118/,NaN,NaN
764,764,767,Leonhard,NaN,Hieronymi,1987-07-01,Bad Homburg,male,False,https://bachmannpreis.orf.at/stories/3047117/,NaN,NaN
765,765,768,Hanna,NaN,Herbst,1990-07-01,Mainz,female,True,https://bachmannpreis.orf.at/stories/3047116/,NaN,False
766,766,769,Lydia,NaN,Haider,1985-06-27,Steyr,female,True,https://bachmannpreis.orf.at/stories/3047041/,NaN,False
767,767,770,Laura,NaN,Freudenthaler,1984-07-01,Salzburg,female,True,https://bachmannpreis.orf.at/stories/3047039/,NaN,False

In [62]:
authors_updated[authors_updated.last_name == "Helfer"]

,author_id_new,author_id,first_name,middle_name,last_name,birth_date,birth_place,gender,has_wikipedia,website,literaturinstitut,has_phd
398,398,401,Joachim,NaN,Helfer,1964-08-26,NaN,male,True,NaN,NaN,NaN
460,460,463,Monika,NaN,Helfer,1947-10-18,NaN,female,True,http://archiv.bachmannpreis.orf.at/bp99/fs_aut...,NaN,NaN

In [43]:
texts = pd.read_csv("texts_complete.csv")

In [45]:
texts_updated = pd.merge(texts, authors_updated[['author_id', 'author_id_new']], 'left', left_on='author_id', right_on='author_id').drop(columns=['author_id']).rename(columns={'author_id_new': 'author_id'})

In [53]:
texts_updated.author_id = texts_updated.author_id.astype(pd.Int32Dtype())
texts_updated.reading_order = texts_updated.reading_order.astype(pd.Int32Dtype())
texts_updated.day_reading = texts_updated.day_reading.astype(pd.Int32Dtype())
texts_updated.total_days_reading = texts_updated.total_days_reading.astype(pd.Int32Dtype())
texts_updated.invited_by = texts_updated.invited_by.astype(pd.Int32Dtype())

In [54]:
texts_updated

,text_id,text_title,date_participation,invited_by,on_shortlist,font,reading_order,day_reading,reading_context,total_days_reading,author_id
0,0,NaN,1977-06-27,NaN,False,NaN,23,3,last_reading,3,0
1,1,NaN,1977-06-27,NaN,False,NaN,22,3,NaN,3,1
2,2,NaN,1977-06-27,NaN,False,NaN,21,3,NaN,3,2
3,3,Sodom (Fragment aus einem Roman),1977-06-27,NaN,False,NaN,20,3,NaN,3,3
4,4,NaN,1977-06-27,NaN,False,NaN,19,3,NaN,3,4
...,...,...,...,...,...,...,...,...,...,...,...
837,837,Für bestimmte Welten kämpfen und gegen andere,2020-06-21,117,True,Garamond,2,1,NaN,3,763
838,838,"Über uns, Luzifer",2020-06-21,119,False,Book Antiqua,3,1,before_break,3,764
839,839,Es wird einmal,2020-06-21,121,True,Times New Roman,7,2,NaN,3,765
840,840,Der große Gruß,2020-06-21,120,False,Calibri,11,3,first_reading,3,766
841,841,Der heißeste Sommer,2020-06-21,122,True,Times New Roman,12,3,before_break,3,767

In [55]:
texts_updated.columns

Index(['text_id', 'text_title', 'date_participation', 'invited_by',
       'on_shortlist', 'font', 'reading_order', 'day_reading',
       'reading_context', 'total_days_reading', 'author_id'],
      dtype='object')

In [56]:
texts_updated = texts_updated[['text_id', 'author_id', 'text_title', 'date_participation', 'invited_by',
       'on_shortlist', 'font', 'reading_order', 'day_reading',
       'reading_context', 'total_days_reading']]

In [59]:
texts_updated.set_index('text_id').to_csv("texts_updated.csv")

In [63]:
goodreads = pd.read_csv("goodreads_results_all.csv")
goodreads

,author_id,author_name,goodreads_name,goodreads_genre,total_publications,goodreads_followers,average_rating,ratings_count
0,0,Reto Hänny,Reto Hänny,NaN,9,NaN,3.33,9
1,1,Jost Perfahl,Jost Perfahl,NaN,9,NaN,3.20,5
2,2,Elisabeth Plessen,Elisabeth Plessen,NaN,8,NaN,3.23,43
3,3,Vintila Ivanceanu,Vintilă Ivănceanu,NaN,5,NaN,4.83,12
4,4,Horst Bienek,Horst Bienek,NaN,24,2,4.02,96
...,...,...,...,...,...,...,...,...
727,766,Lisa Krusche,Lisa Krusche,NaN,3,NaN,4.67,3
728,767,Leonhard Hieronymi,Leonhard Hieronymi,NaN,3,2,3.20,15
729,768,Hanna Herbst,Hanna Herbst,NaN,3,3,4.32,105
730,769,Lydia Haider,lydia haider,NaN,7,NaN,4.14,14
731,770,Laura Freudenthaler,Laura Freudenthaler,NaN,3,3,3.61,82

In [65]:
goodreads_updated = pd.merge(goodreads, authors_updated[['author_id', 'author_id_new']], 'left', left_on='author_id', right_on='author_id').drop(columns=['author_id']).rename(columns={'author_id_new': 'author_id'})
goodreads_updated.author_id = goodreads_updated.author_id.astype(pd.Int32Dtype())
goodreads_updated

,author_name,goodreads_name,goodreads_genre,total_publications,goodreads_followers,average_rating,ratings_count,author_id
0,Reto Hänny,Reto Hänny,NaN,9,NaN,3.33,9,0
1,Jost Perfahl,Jost Perfahl,NaN,9,NaN,3.20,5,1
2,Elisabeth Plessen,Elisabeth Plessen,NaN,8,NaN,3.23,43,2
3,Vintila Ivanceanu,Vintilă Ivănceanu,NaN,5,NaN,4.83,12,3
4,Horst Bienek,Horst Bienek,NaN,24,2,4.02,96,4
...,...,...,...,...,...,...,...,...
727,Lisa Krusche,Lisa Krusche,NaN,3,NaN,4.67,3,763
728,Leonhard Hieronymi,Leonhard Hieronymi,NaN,3,2,3.20,15,764
729,Hanna Herbst,Hanna Herbst,NaN,3,3,4.32,105,765
730,Lydia Haider,lydia haider,NaN,7,NaN,4.14,14,766
731,Laura Freudenthaler,Laura Freudenthaler,NaN,3,3,3.61,82,767

In [66]:
goodreads_updated.columns

Index(['author_name', 'goodreads_name', 'goodreads_genre',
       'total_publications', 'goodreads_followers', 'average_rating',
       'ratings_count', 'author_id'],
      dtype='object')

In [67]:
goodreads_updated = goodreads_updated[['author_id', 'author_name', 'goodreads_name', 'goodreads_genre',
       'total_publications', 'goodreads_followers', 'average_rating',
       'ratings_count']]
goodreads_updated

,author_id,author_name,goodreads_name,goodreads_genre,total_publications,goodreads_followers,average_rating,ratings_count
0,0,Reto Hänny,Reto Hänny,NaN,9,NaN,3.33,9
1,1,Jost Perfahl,Jost Perfahl,NaN,9,NaN,3.20,5
2,2,Elisabeth Plessen,Elisabeth Plessen,NaN,8,NaN,3.23,43
3,3,Vintila Ivanceanu,Vintilă Ivănceanu,NaN,5,NaN,4.83,12
4,4,Horst Bienek,Horst Bienek,NaN,24,2,4.02,96
...,...,...,...,...,...,...,...,...
727,763,Lisa Krusche,Lisa Krusche,NaN,3,NaN,4.67,3
728,764,Leonhard Hieronymi,Leonhard Hieronymi,NaN,3,2,3.20,15
729,765,Hanna Herbst,Hanna Herbst,NaN,3,3,4.32,105
730,766,Lydia Haider,lydia haider,NaN,7,NaN,4.14,14
731,767,Laura Freudenthaler,Laura Freudenthaler,NaN,3,3,3.61,82

In [68]:
goodreads_updated.to_csv("goodreads_results_all_updated.csv")

In [73]:
goodreads_updated[goodreads_updated.author_name != goodreads_updated.goodreads_name][100:]

,author_id,author_name,goodreads_name,goodreads_genre,total_publications,goodreads_followers,average_rating,ratings_count
412,439,Inka Bach,Inka Mülder-Bach,NaN,6,NaN,3.50,8
443,472,Andreas Maier,Andrea Mays,NaN,1,10,3.93,816
451,480,David Wagner,Doug Moench,Comics & Graphic Novels,"1,070",73,3.91,67949
458,487,Robert Fischer,Dōgen,Religion & Spirituality|Philosophy,54,ō153,4.28,2861
475,504,Peter Glaser,Susan R. Glaser,NaN,5,NaN,3.87,54
487,516,Kristof Schreuf,Peter Feierabend,NaN,30,1,4.27,74
488,517,Michael Stauffer,Mina Carter,Romance|Science Fiction|Paranormal,199,1877,3.99,83238
490,519,Sünje Lewejohann,Katharina Adler,NaN,5,4,3.61,153
492,521,Henning Ahrens,Leigh Bardugo,Young Adult|Science Fiction & Fantasy|Historic...,56,65656,4.21,1327503
493,522,Susanne Fischer,Susanne Fischer-Rizzi,NaN,15,4,4.17,144
501,530,Arne Roß,Ross H. Arnett Jr.,NaN,15,1,4.41,49
508,537,Sandra Hoffmann,Sandra Kasturi,NaN,36,64,3.79,1373
509,538,Simona Sabato,"Antonin Artaud, Jörg Graser, Kai Hensel, Fritz...",NaN,1,2,2.50,2
514,543,Eva von Schirach,Jörg Sundermeier,NaN,15,NaN,3.25,20
516,545,Thomas Lang,Lewis Carroll,Children's|Poetry|Fiction,"1,979",6712,4.06,1297710
518,547,Anna Kim,Stacey Hatton,Humor and Comedy|Chick Lit|Fiction,5,NaN,3.81,2571
519,548,Anne Weber,Alain LeRoy Locke,NaN,14,31,4.09,805
521,550,Gerhild Steinbuch,Mirjam Aggeler,NaN,1,NaN,0.00,0
524,553,Natalie Balkow,Jörn Morisse,NaN,6,NaN,3.30,23
530,559,Nikolai Vogel,Marvin Kaye,Science Fiction & Fantasy|Horror|Mystery & Thr...,130,68,3.94,6516
547,577,Martin Becker,Margot Becker R.,NaN,1,2,3.61,83
551,581,PeterLicht,PeterLicht,NaN,3,1,3.87,52
563,593,Christian Bernhardt,Doris Christian-Bernhardt,NaN,1,NaN,5.00,1
565,595,Anette Selg,Denis Diderot,Philosophy|Fiction|Social Sciences,493,379,3.71,17992
571,601,Heike Geißler,Heike Geissler,NaN,4,10,3.78,369
574,604,Martin von Arndt,Michelle Tea,Literature & Fiction|Biographies & Memoirs|Gay...,38,736,3.80,21359
580,611,Andrea Winkler,Rainer Maria Rilke,Poetry|Literature & Fiction,768,3837,4.29,102550
583,614,Jens Petersen,Jens H. Petersen,NaN,10,1,4.43,70
591,622,Verena Rossbacher,Verena Roßbacher,NaN,4,2,3.62,53
596,627,Aleks Scholz,Kathrin Passig & Aleks Scholz,NaN,1,&,2.95,20
605,636,Michel Božiković,Michel Bozikovic,NaN,2,13,3.00,6
606,637,Anne Richter,Ann VanderMeer,Science Fiction|Fantasy|Horror,54,166,3.80,11639
615,647,Maximilian Steinbeis,Per Leo,History,3,2,3.19,125
625,657,Sabine Hassinger,Annette Kuhn,NaN,35,6,3.85,269
635,667,Philipp Schönthaler,Philipp Schonthaler,NaN,3,NaN,3.67,6
646,678,Katharina Gericke,Katarina Gericke,NaN,1,NaN,4.00,1
650,682,Birgit Pölzl,Birgit Pollmann,NaN,1,NaN,0.00,0
661,694,FALKNER,Tammy Falkner,Romance|Paranormal,38,3129,4.22,118829
675,708,Julia Wolf,Julia Wolf,Romance|Contemporary,21,349,4.40,6271
676,709,Selim Özdoğan,Selim Özdogan,NaN,34,19,3.88,518
677,710,Bastian Schneider,James Tiptree Jr.,Science Fiction,216,377,4.03,21405
687,720,Verena Dürr,Verena Duregger,NaN,2,NaN,4.67,6
709,743,Leander Fischer,Leander Fisher,NaN,2,NaN,0.00,0
711,746,Daniel Heitzler,Daniel Hertzler,NaN,6,NaN,3.00,4
716,751,Julia Jost,Jost W. Kramer,NaN,49,NaN,4.00,1
718,753,Sarah Wipauer,Valerie Katrin Fritsch Valerie Katrin G.,NaN,1,NaN,0.00,0
730,766,Lydia Haider,lydia haider,NaN,7,NaN,4.14,14

In [91]:
goodreads_final = pd.read_csv("goodreads_results_all_updated.csv", index_col='author_id')

In [98]:
goodreads[goodreads_final.goodreads_followers == " "]

Empty DataFrame
Columns: [goodreads_genre, total_publications, goodreads_followers, average_rating, ratings_count]
Index: []

In [95]:
goodreads_final.goodreads_followers = goodreads_final.goodreads_followers.astype(pd.Int32Dtype())

TypeError: object cannot be converted to an IntegerDtype

In [106]:
goodreads_final.drop(columns=['Unnamed: 0', 'author_name', 'goodreads_name']).to_csv("goodreads_final.csv")

In [104]:
goodreads_final.goodreads_followers = pd.to_numeric(goodreads_final['goodreads_followers'], errors='coerce').astype(pd.Int32Dtype())

In [93]:
goodreads = goodreads_final.drop(columns=['Unnamed: 0', 'author_name', 'goodreads_name']).copy()

In [105]:
goodreads_final.sort_values('goodreads_followers', ascending=False).head(20)

,Unnamed: 0,author_name,goodreads_name,goodreads_genre,total_publications,goodreads_followers,average_rating,ratings_count
author_id,,,,,,,,
293,274,W. G. Sebald,W.G. Sebald,Biography|Memoir|Historical Fiction,42,1067,4.11,41179
556,527,Saša Stanišić,Saša Stanišić,Humor and Comedy|Paranormal|Fiction,7,606,4.02,5427
540,511,Juli Zeh,Juli Zeh,NaN,35,471,3.76,17507
486,457,Jenny Erpenbeck,Jenny Erpenbeck,Literature & Fiction|Historical Fiction|Short ...,23,363,3.87,11424
406,381,Yoko Tawada,Yōko Tawada,Fiction,81,306,3.56,8560
534,505,Richard David Precht,Richard David Precht,Fiction|Nonfiction|Philosophy,25,242,3.85,5784
454,427,Peter Stamm,Peter Stamm,Literature & Fiction|Professional & Technical,39,239,3.41,8725
541,512,Wolfgang Herrndorf,Wolfgang Herrndorf,NaN,18,160,3.85,19276
607,577,Alina Bronsky,Alina Bronsky,Literature & Fiction,15,147,3.71,6377
674,642,Joachim Meyerhoff,Joachim Meyerhoff,NaN,5,124,4.06,5745
724,691,John Wray,John Wray,Literature & Fiction,22,118,3.25,5228
387,364,Ilija Trojanow,Ilija Trojanow,Literature & Fiction|Travel|Science Fiction,56,76,3.54,2480
189,181,Michael Köhlmeier,Michael Köhlmeier,Fiction,78,62,3.78,3256
419,393,Arno Geiger,Arno Geiger,NaN,17,61,3.83,3233
167,159,Martin Mosebach,Martin Mosebach,Literature & Fiction|Religion & Spirituality,49,55,3.66,620
606,576,Clemens J. Setz,Clemens J. Setz,Fiction,24,52,3.60,926
666,634,Katja Petrowskaja,Katja Petrowskaja,NaN,6,44,3.81,931
452,425,Aglaja Veteranyi,Aglaja Veteranyi,Literature & Fiction|Short Stories|Biographies...,11,43,4.01,2060
573,543,Clemens Meyer,Clemens Meyer,Literature & Fiction|Short Stories|Contemporary,12,41,3.72,1184
159,151,Rainald Goetz,Rainald Goetz,NaN,25,40,3.80,971

In [109]:
authors_updated.drop(columns='author_id').rename(columns={'author_id_new': 'author_id'}).to_csv('authors_final.csv')